{
  "plugins": [
    "stylelint-prettier"
  ],
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-prettier/recommended",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "prettier/prettier": true
  }
}
